.video{
    /*height: rem(650px);*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F5F5F5;
  }

  .video__text{
    display: flex;
    justify-content: center;
  }
  
  
  //.player__wrapper{
  //  height: rem(405px);
  //  width: rem(660px);
  //}

  .player {
    width: 100%;
    height: 100%;
    position: relative;
    //bottom: -100px;
    display: block;
  }

  .player__splash{
    background: url('../../video/negr');
    width: 100%;
    height: 100%;
    position: relative;
    //top: 0;
    //left: 0;
    //right: 0;
    //bottom: 0;
    cursor: pointer;
  }
  


  



  .player__controls {
    position: relative;
    background: #151515;
    bottom: 0;
    left: 0;
    right: 0;
    top: -4rem;
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}


//.player .player__start {
//  width: 12px;
//  height: 17px;
//  border: none;
//  background: url(../../img/start.svg);
//  &:before {
//      background: url(../../img/scale.svg);
// /    width: 444px;
//      height: 4px;
//      left: 51px;
//      top: 15px;
//  }
  
//  &:after{
//      right: 600px;
//      top: 11px;
//      background: url(../../img/slider.svg);
//      width: 13px;
//      height: 13px;
//  }

//}



//стилизовать кнопку
.player__start{
  position: relative;
  left: 0;
  border: rem(6px) solid transparent;
  border-top: rem(6px) solid #fff;
  border-bottom-width: 0;
  height: rem(0px);
  width: rem(0px);
  //content: "";
  //margin-left: rem(10px);
  transform: rotate(270deg);
  z-index: 100;
}



.player__playback{
  height: 3px;
  width: 446px;
  position: relative;
  content: "";
  background: #F5F5F5;
}



.player__playback-button{
  width: 12px;
  height: 12px;
  border-radius:50% ;
  background: red;
  content: "";
  padding: 0;
  position: absolute;
  top:-4px;
  //transform: rotate(-50%, -50%);
  left:0;                 //в джава скрипте меняем процентовку чтобы ползунок полз
}

.player__duration-completed,.player__duration-estimate{
  background: #F5F5F5;
}
